$height_shown_header: 35pt;
$height_footer: 30pt;

@mixin body_mixin($color_palette) {
  $color0: map-get($color_palette, color0);
  $color1: map-get($color_palette, color1);
  $color2: map-get($color_palette, color2);
  $color3: map-get($color_palette, color3);
  $color4: map-get($color_palette, color4);
  $col_values: map-get($color_palette, col_values);
  $col_font_black: map-get($color_palette, col_font_black);
  $col_font_white: map-get($color_palette, col_font_white);
  body {
    background-color: $color0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    div#alert_timeout {
      display: none;
      width: 100%;
      background-color: darkred;
      color: $col_font_white;
      font-size: 15pt;
    }
    div#header {
      width: 100%;
      top: 0;
      position: fixed;
      background-color: $color2;
      color: $col_font_white;
      z-index: 9999; //絶対に最前列に表示する
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
      div#header_on_shown {
        height: $height_shown_header;
        display: flex;
        align-items: center;
        div#menu_title {
          padding-left: 10pt;
          padding-right: 10pt;
          display: flex;
          align-items: center;
          img {
            display: inline-block;
            height: 20pt;
            margin-right: 3pt;
          }
          div {
            transform: translateY(2pt);
            display: inline-block;
            height: fit-content;
            font-size: 20pt;
          }
        }
        div#header_buttons {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          div.header_button {
            margin: 5pt;
            padding: 5px 5px 2px 5px;
            &:hover {
              background-color: rgba(255, 255, 255, 0.25);
              cursor: pointer;
            }
            &.displayed {
              border-bottom: 2px solid white;
            }
            &:not(.displayed) {
              padding-bottom: 2px;
            }
          }
        }
        div#header_notifications {
          display: flex;
          div.notification_icon {
            display: flex;
            position: relative;
            div.notification_initial {
              margin: 2pt;
              border: $color3 solid 2px;
              color: $color3;
              border-radius: 10px;
              width: 25px;
              height: 25px;
              text-align: center;
              line-height: 25px;
              animation: append_notification 0.5s forwards;
              @keyframes append_notification {
                0% {
                  transform: translateY(-30px);
                  background-color: $color3;
                }
                100% {
                  transform: translateY(0px);
                  background-color: transparent;
                }
              }
            }
            div.notification_popup {
              position: absolute;
              display: none;
              background-color: $color0;
              color: $col_font_black;
              width: 250px;
              border-radius: 5px;
              padding: 10px;
              top: 45px;
              right: 0px;
              border: $color3 solid 2px;
            }
            div.notification_popup::before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid $color3;
              top: -10px;
              right: 5px;
            }
            div.notification_initial:hover + div.notification_popup {
              display: block;
            }
          }
        }
      }
      div#header_on_hidden {
        &:hover {
          text-align: center;
          height: $height_shown_header;
          font-size: 20pt;
        }
        &:not(:hover) {
          font-size: 10pt;
        }
      }
    }
    div#main {
      padding-top: $height_shown_header;
      padding-bottom: $height_footer;
      height: calc(100% - #{$height_shown_header} - #{$height_footer});
      div#main_graphs {
        width: 100%;
        height: 100%;
        overflow: auto;
        display: flex;
        div#indicators {
          overflow: auto;
          width: 25%;
          background-color: $color4;
          height: 100%;
          table {
            border-spacing: 0pt 1pt;
            width: 100%;
            tbody {
              tr {
                &.danger {
                  animation: alert 0.65s ease-in-out infinite;
                }
                &.safe {
                  background-color: $color4;
                }
                td {
                  color: $col_font_black;
                  white-space: nowrap;
                  &.name {
                    border-left: transparent solid 3px;
                    text-align: left;
                    width: 1%;
                    font-size: 10pt;
                  }
                  &.value {
                    text-align: right;
                    width: 100%;
                    font-size: 10pt;
                  }
                  &.unit {
                    text-align: left;
                    width: 1%;
                    font-size: 7pt;
                  }
                }
              }
            }
          }
        }
        div#graphs {
          overflow: auto;
          padding-top: 10px;
          width: 80%;
          display: flex;
          flex-direction: row;
          align-content: start;
          flex-wrap: wrap;
          div.container {
            width: 33%;
            background-color: $color0;
            height: min-content;
          }
          div.labels {
            span.name {
              font-size: 10pt;
              color: $col_font_black;
            }
            span.value {
              display: inline-block;
              text-align: right;
              justify-content: center;
              min-width: 75pt;
              height: 25pt;
              font-size: 20pt;
              color: $col_font_black;
            }
            span.unit {
              font-size: 10pt;
              color: $col_font_black;
            }
          }
          div.indicator {
            border-left: 3px solid transparent;
            padding: 2px;
            margin-top: 5pt;
            &.danger {
              animation: alert 0.65s ease-in-out infinite;
            }
            &.safe {
              background-color: $color4;
            }
          }
        }
        div#large_graphs {
          color: $col_font_black;
          padding-top: 10px;
          width: 0em; // 初回読み込み時は0にすることでdiv#graphsのwidthを定めさせる
          div#large_graphs_display_name {
            font-size: 15pt;
          }
        }
        div#timestamp_insert {
          background-color: $color2;
          height: $height_footer;
          position: fixed;
          bottom: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          div.timestamp {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            input {
              margin: 2pt;
              border-radius: 4pt;
              &.ts_text {
                width: 100%;
                height: 20px;
                border: none;
              }
              &.ts_submit {
                width: auto;
                background-color: $color3;
                font-size: 10pt;
                cursor: pointer;
                color: $col_font_white;
                &:hover {
                  border: 2px solid white;
                }
                &:not(:hover) {
                  border: 2px solid $color3;
                }
                &:active {
                  transform: translateY(4px);
                }
              }
            }
          }
        }
      }
      div#main_export_data {
        overflow: auto;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      div#main_input_settings {
        overflow: auto;
        height: 100%;
        width: 100%;
        table {
          white-space: nowrap;
          position: relative;
          thead {
            position: sticky;
            top: 0;
            td {
              border: 0;
            }
          }
        }
      }
      div#main_connection_settings {
        overflow: auto;
        max-height: 100%;
        width: 100%;
        table {
          width: 100%;
          height: 100%;
          margin: 10px;
          border-collapse: collapse;
          thead {
            td {
              padding-left: 5px;
              min-height: 75px;
            }
            background-color: $color1;
            color: $col_font_white;
          }
          tbody {
            tr {
              height: 15%;
              &:hover {
                background-color: rgba(0, 0, 0, 0.1);
              }
              &.disconnect {
                background-color: rgba($color: $color3, $alpha: 0.5);
              }
              animation: _append 0.35s forwards;
              @keyframes _append {
                0% {
                  opacity: 0;
                }
                100% {
                  opacity: 1;
                }
              }
              td {
                border-bottom: $color1 solid 1px;
                padding-top: 5px;
                padding-bottom: 20px;
                &.info {
                  width: 30%;
                }
                &.preview {
                  width: 70%;
                }
                div.name {
                  font-size: 25px;
                  color: $col_font_black;
                }
                div.type {
                  font-size: 15px;
                  color: $col_font_black;
                }
                div.address {
                  font-size: 15px;
                  color: $col_font_black;
                }
                div.connection_button {
                  width: auto;
                  font-size: 20px;
                  margin: 5px 5px 5px 0px;
                  padding: 0px 0px 0px 5px;
                  border: 1px solid transparent;
                  &:hover {
                    border-color: $color3;
                    color: $col_font_white;
                    background-color: $color3;
                  }
                  &:not(:hover) {
                    border-color: $color3;
                    color: $color3;
                    background-color: $color0;
                  }
                  &:active {
                    transform: translateY(2px);
                  }
                }
                div.raw_received_label {
                  padding-left: 5px;
                  font-size: 12px;
                  height: 20%;
                  color: $col_font_black;
                }
                div.raw_received {
                  color: $col_font_black;
                  padding-left: 5px;
                  height: 80%;
                  overflow: auto;
                  font-size: 10px;
                  word-break: break-word;
                  &::-webkit-scrollbar {
                    width: 5px;
                    background-color: white;
                  }
                  &::-webkit-scrollbar-thumb {
                    width: 5px;
                    background-color: $color1;
                  }
                }
              }
            }
          }
        }
      }
      div#main_display_settings {
        overflow: auto;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      div.styled_table_container {
        margin: 10px;
        span.table_title {
          display: block;
          color: $col_font_black;
          font-size: 20px;
        }
        table {
          margin-bottom: 20px;
          width: 100%;
          border-collapse: collapse;
          input {
            color: $color3;
            border: none;
            height: 100%;
            width: calc(100% - 10px);
            font-size: 20px;
            margin: 5px;
            background-color: $color0;
          }
          tr {
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
            td {
              min-width: 75px;
              padding-left: 5px;
              border-spacing: 0;
              border-bottom: $color1 solid 1px;
            }
          }
          thead {
            background-color: $color1;
            color: $col_font_white;
          }
          tbody {
            color: $col_font_black;
            min-height: 25px;
          }
        }
      }

      div.container_footer {
        // 共通コンポーネント：各画面のフッター部分
        z-index: 9998; // ヘッダーの次に最前列に表示する
        width: 100%;
        background-color: $color2;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: jump_up 0.25s ease-in-out;
        span.message {
          max-width: 82.5%;
          padding-left: 10px;
          text-align: left;
          color: $col_font_white;
          font-size: 12px;
        }
        div.button {
          text-align: right;
          margin: 5px;
          padding: 2px 10px;
          border-radius: 5px;
          border: transparent 2px solid;
          &:hover {
            border-color: $col_font_white;
            color: $col_font_white;
            background-color: $color3;
          }
          &:not(:hover) {
            border-color: $color3;
            color: $color3;
            background-color: $color0;
          }
          &:active {
            transform: translateY(2px);
          }
        }
      }
    }
    div#footer {
      height: 0;
      background-color: $color2;
    }
  }

  canvas {
    width: 100pt;
    height: 100pt;
  }

  @keyframes alert {
    0% {
      background-color: rgba(255, 0, 0, 0.3);
    }
    100% {
      background-color: rgba(255, 0, 0, 0.01);
    }
  }

  @keyframes jump_up {
    0% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }

  // ::-webkit-scrollbar {
  //   // スクロールバーを見せない
  //   width: 0px;
  //   height: 0px;
  // }
}

html {
  user-select: none;
  height: 100%;
  &.light {
    $color_palette: (
      color0: #eeeeee,
      color1: #393e46,
      color2: #222831,
      color3: #00adb5,
      color4: #cfcfcf,
      col_values: #4313b4,
      col_font_black: black,
      col_font_white: white,
    );
    @include body_mixin($color_palette);
  }
  &.dark {
    $color_palette: (
      color0: rgb(35, 35, 35),
      color1: rgb(50, 50, 50),
      color2: rgb(30, 30, 40),
      color3: rgb(0, 190, 200),
      color4: rgb(55, 55, 55),
      col_values: #4313b4,
      col_font_black: white,
      col_font_white: white,
    );
    @include body_mixin($color_palette);
  }
}
