$color0: #EEEEEE
$color1: #393E46
$color2: #222831
$color3: #00ADB5
$col_values: #4313b4
$col_font_black: black
$col_font_white: white

html
    user-select: none
    height: 100%
    body
        margin: 0
        height: 100%
        div#alert_timeout
            display: none
            width: 100%
            background-color: darkred
            color: $col_font_white
            font-size: 15pt
        div#header
            background-color: $color2
            color: $col_font_white
            div#header_on_shown
                display: flex
                align-items: center
                div.header_buttons
                    display: flex
                    flex-wrap: wrap
                    align-items: center
                    div.header_button
                        margin: 5pt
                        &:hover
                            border-bottom: 2px solid white
                        &:not(:hover)
                            padding-bottom: 2px
        div#main
            display: flex
            height: 90% // 100%としたいが、フッターの高さを引いて指定する
            div#indicators
                width: 20%
                background-color: $color0
                height: 100%
            div#graphs
                width: 80%
                display: flex
                flex-direction: row
                flex-wrap: wrap
                div.container
                    width: 33%
                    background-color: white
                    height: min-content
            div#large_graphs
                width: 0em // 初回読み込み時は0にすることでdiv#graphsのwidthを定めさせる
            div.labels
                span.name
                    font-size: 15pt
                    color: $col_font_black
                span.value
                    font-size: 20pt
                    color: $col_font_black
                span.unit
                    font-size: 10pt
                    color: $col_font_black
            div.indicator
                border-left: 3px solid transparent
                padding: 2px
                margin-top: 5pt
                &.danger
                    animation: alert 0.65s ease-in-out infinite
                &.safe
                    background-color: $color0
        div#footer
            background-color: $color2
            position: fixed
            bottom: 0
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            div#timestamp_insert
                width: 100%
                div.timestamp
                    display: flex
                    align-items: center
                    justify-content: center
                    input
                        margin: 2pt
                        border-radius: 4pt
                        &.ts_text
                            width: 100%
                            border: none
                        &.ts_submit
                            width: auto
                            background-color: $color3
                            font-size: 10pt
                            cursor: pointer
                            color: $col_font_white
                            &:hover
                                border: 2px solid white
                            &:not(:hover)
                                border: 2px solid $color3
                            &:active
                                transform: translateY(4px)

canvas
    width: 100pt
    height: 100pt

@keyframes alert
    0%
        background-color: rgba(255, 0, 0, 0.3)
    100%
        background-color: $color0
