html {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100%;
}
html body {
  margin: 0;
  height: 100%;
}
html body div#alert_timeout {
  display: none;
  width: 100%;
  background-color: darkred;
  color: white;
  font-size: 15pt;
}
html body div#header {
  background-color: #222831;
  color: white;
}
html body div#header div#header_on_shown {
  display: flex;
  align-items: center;
}
html body div#header div#header_on_shown div.header_buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
html body div#header div#header_on_shown div.header_buttons div.header_button {
  margin: 5pt;
}
html body div#header div#header_on_shown div.header_buttons div.header_button:hover {
  border-bottom: 2px solid white;
}
html body div#header div#header_on_shown div.header_buttons div.header_button:not(:hover) {
  padding-bottom: 2px;
}
html body div#main {
  display: flex;
  height: 90%;
}
html body div#main div#indicators {
  width: 20%;
  background-color: #EEEEEE;
  height: 100%;
}
html body div#main div#graphs {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
html body div#main div#graphs div.container {
  width: 33%;
  background-color: white;
  height: -moz-min-content;
  height: min-content;
}
html body div#main div#large_graphs {
  width: 0em;
}
html body div#main div.labels span.name {
  font-size: 15pt;
  color: black;
}
html body div#main div.labels span.value {
  font-size: 20pt;
  color: black;
}
html body div#main div.labels span.unit {
  font-size: 10pt;
  color: black;
}
html body div#main div.indicator {
  border-left: 3px solid transparent;
  padding: 2px;
  margin-top: 5pt;
}
html body div#main div.indicator.danger {
  animation: alert 0.65s ease-in-out infinite;
}
html body div#main div.indicator.safe {
  background-color: #EEEEEE;
}
html body div#footer {
  background-color: #222831;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body div#footer div#timestamp_insert {
  width: 100%;
}
html body div#footer div#timestamp_insert div.timestamp {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body div#footer div#timestamp_insert div.timestamp input {
  margin: 2pt;
  border-radius: 4pt;
}
html body div#footer div#timestamp_insert div.timestamp input.ts_text {
  width: 100%;
  border: none;
}
html body div#footer div#timestamp_insert div.timestamp input.ts_submit {
  width: auto;
  background-color: #00ADB5;
  font-size: 10pt;
  cursor: pointer;
  color: white;
}
html body div#footer div#timestamp_insert div.timestamp input.ts_submit:hover {
  border: 2px solid white;
}
html body div#footer div#timestamp_insert div.timestamp input.ts_submit:not(:hover) {
  border: 2px solid #00ADB5;
}
html body div#footer div#timestamp_insert div.timestamp input.ts_submit:active {
  transform: translateY(4px);
}

canvas {
  width: 100pt;
  height: 100pt;
}

@keyframes alert {
  0% {
    background-color: rgba(255, 0, 0, 0.3);
  }
  100% {
    background-color: #EEEEEE;
  }
}/*# sourceMappingURL=index.css.map */